@charset "UTF-8";
/***** VARIABLES *****/
/***** BASE *****/
h1 {
  font-family: "Caveat";
  font-weight: 300;
  font-size: 50px;
  color: #333957;
  text-align: center;
}

p {
  font-family: "ff-cocon-pro";
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}

h2 {
  color: #333957;
  font-family: "ff-cocon-pro";
  font-weight: 300;
  font-size: 30px;
}

h3 {
  color: #9060A0;
  font-family: "ff-cocon-pro";
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
}

span {
  color: #E9AC41;
  font-family: "Caveat";
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #333957;
}
a:hover {
  color: #E9AC41;
  text-decoration: underline;
}

/*Paramètres temps animation des images */
/***** BODY *****/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFCF6;
  color: #333957;
  font-family: "ff-cocon-pro";
  font-weight: 300;
  margin: 0;
}

.container_padding {
  padding-left: 10%;
  padding-right: 10%;
}

/***** BOUTONS *****/
/***** bouton principal (Partons à l'aventure, Mon CV) *****/
.button_main {
  background: linear-gradient(90deg, rgb(253, 238, 211) 0%, rgb(252, 241, 234) 20%, rgb(251, 246, 238) 44%, rgb(253, 237, 232) 57%, rgba(254, 236, 234, 0.97) 69%, rgb(247, 224, 234) 84%, rgb(238, 218, 242) 100%);
  padding: 15px;
  border-radius: 80px;
  color: #333957;
  text-decoration: none;
}
.button_main:hover {
  background: linear-gradient(90deg, rgb(252, 241, 234) 0%, rgb(248, 226, 232) 50%, rgb(238, 218, 242) 100%);
  color: #333957;
  transition: background-color 0.4s;
  text-decoration: none;
}

/***** bouton secondaire: découvrir ce projet (présent sur chaque card - home et page réalisations) *****/
.button_discover {
  background: #FFFCF6;
  border-radius: 80px;
  color: #333957;
  text-decoration: none;
  padding: 0.7rem 1rem;
}
.button_discover:hover {
  background-color: #9DB1AA;
  color: #FAF6EF;
  transition: background-color 0.4s;
  text-decoration: none;
}

/***** bouton tertiaire : voir le prototype *****/
.button_tertiary {
  background-color: #FAF6EF;
  border-radius: 80px;
  padding: 0px 30px;
  color: #333957;
  text-decoration: none;
}
.button_tertiary #eye {
  vertical-align: middle;
}
.button_tertiary:hover {
  background-color: #9DB1AA;
  color: #FAF6EF;
  transition: background-color 0.4s;
}

/***** bouton spécial : tous les projets *****/
.button_allprojects {
  margin-top: 30px;
  text-align: end;
}
.button_allprojects a {
  color: #b595c0;
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.button_allprojects .arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  width: 15%;
}
.button_allprojects:hover a {
  color: #333957;
}
.button_allprojects:hover a .arrows {
  opacity: 1;
}

/***** HEADER : valable pour toutes les pages du portfolio *****/
header #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "ff-cocon-pro";
  font-weight: 300;
  font-size: calc(0.4rem + 1.3vw);
  margin-top: 3rem;
}
header #nav img {
  width: 30%;
}
header #nav #menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 70%;
}
@media (max-width: 650px) {
  header #nav #menu {
    position: fixed;
    left: -100%;
    top: 5%;
    margin: 0;
    flex-direction: column;
    background: #FFFCF6;
    text-align: center;
    transition: 0.25s;
  }
  header #nav li {
    padding: 3px;
  }
  header #nav li:hover {
    color: #E9AC41;
  }
}
header #nav #icons {
  cursor: pointer;
  display: none;
}
@media (max-width: 650px) {
  header #nav #icons {
    display: block;
  }
}

#header_intro {
  background-image: url(./img/Fond_bulles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#header_intro #intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  flex-grow: 1;
}
#header_intro #intro img {
  width: 90%;
}

/***** PAGE ACCUEIL *****/
.mots_vertical {
  display: inline;
  text-indent: 8px;
}
.mots_vertical span {
  animation: topToBottom 9s linear infinite 0s;
  -ms-animation: topToBottom 9s linear infinite 0s;
  -webkit-animation: topToBottom 9s linear infinite 0s;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.mots_vertical span:nth-child(2) {
  animation-delay: 2.25s;
  -ms-animation-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
}
.mots_vertical span:nth-child(3) {
  animation-delay: 4.5s;
  -ms-animation-delay: 4.5s;
  -webkit-animation-delay: 4.5s;
}
.mots_vertical span:nth-child(4) {
  animation-delay: 6.75s;
  -ms-animation-delay: 6.75s;
  -webkit-animation-delay: 6.75s;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(-29px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Section présentation : fond vague, photo de profil, bouton vers CV, texte à propos */
#container_presentation {
  background-image: url("./img/Fond_bienvenue_web.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
#container_presentation img {
  width: 270px;
}
#container_presentation #presentation {
  display: flex;
  align-items: center;
  gap: 40px;
}

/*Section citation*/
#citation {
  width: 40%;
  margin: auto;
  margin-top: -4rem;
}
#citation img {
  width: 100%;
}

/* Section réalisations : les 3 cards avec les projets principaux */
.background {
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
}

.cards {
  display: flex;
  gap: 1.5rem;
}
.cards .card {
  width: calc(33% - 15px);
  background-color: #F0EADF;
  border-radius: 1rem;
  border-bottom: 25px solid #FFE3AF;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
}
.cards .card .mockup {
  width: 60%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0;
}
.cards .card.card2 {
  border-color: #DBE6E4;
}
.cards .card.card3 {
  border-color: #FFE3AF;
}
.cards .card .card-content {
  margin: 1.6rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cards .card .card-content .titre_icon {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.cards .card .card-content .titre {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
}
@media (max-width: 650px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards .card {
    width: 75%;
  }
  .cards .card .mockup {
    width: 100%;
  }
}

/* CONTACT*/
#contact {
  display: flex;
  justify-content: space-evenly;
}
#contact .icons {
  width: 12%;
  margin-right: 15px;
}
#contact .contacter {
  display: flex;
  align-items: center;
}
@media (max-width: 650px) {
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

/***** PAGE RÉALISATIONS *****/
.card.card4 {
  border-bottom: 25px solid #EEDAF2;
}
.card.card5 {
  border-bottom: 25px solid #FFE3AF;
}
.card.card6 {
  border-bottom: 25px solid #DBE6E4;
}

/***** PAGE PROJET (valable pour les 6 pages projet) *****/
.frontSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
  margin-bottom: 5rem;
}
.frontSection .column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.frontSection .imgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#img_container {
  text-align: center;
}
#img_container img {
  width: 80%;
}

.section_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}
.section_row .section_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_row .section_column .card_projet {
  background-color: #FAF6EF;
  border-radius: 15px;
  padding: 1rem 2rem;
}
.section_row .section_column .card_projet .titre_projet {
  font-family: "Caveat";
  font-weight: 300;
  color: #9060A0;
}

/***** PROJETS PROCREATE *****/
#procreate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

/***** FOOTER *****/
footer {
  background-image: url(./img/footer_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}
footer #footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10rem;
}
footer #footer p {
  text-align: center;
}
footer #footer #logo_footer {
  width: 15%;
}
@media (max-width: 650px) {
  footer #footer {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
  }
  footer #footer #logo_footer {
    width: 25%;
  }
}/*# sourceMappingURL=style.css.map */